@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  outline: 0;
}


@mixin animal($url, $position) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @if $position == 'right' {
    flex-direction: row-reverse;
  }
  @else if $position == 'left'{
    flex-direction: row;
  }
  p.title{
    margin: 0 20vw;
    text-align: center;
    line-height: 3rem;
  }
  p{
    margin: 0 10vw;
  }
  @media(max-width: 800px){
    flex-direction: column;
    justify-content: center;
    background-position: fixed;

    p.title{
      margin: 0 10px 70px 10px;
    }
    p{
      text-align: center;
    }
  }
}

section{
  height: 95vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subMenu {
  box-sizing: border-box;
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: black;
  opacity: 0.9;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
}

a{
  font-size: 1.5rem;
  text-decoration: none;
  color: lightgray;
  margin: 10px;
  &:hover{
    color: white;
  }
}



@keyframes append {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

p{
  animation-name: append;
  animation-duration: 3s;
  line-height: 1.5rem;
  @media(max-width: 1200px){
    font-size: 0.9rem;
    line-height: 1rem;
    &.title{
      font-size: 2rem;
    }
  }
  &.title{
    font-size: 3rem;
  }
}

.desc{
  background-color: rgba(91, 91, 91, 0.5);
  padding: 5px;
  box-shadow: 0 0 5px 5px rgba(91, 91, 91, 0.5);
  text-align: center;
}

#main{
  background-image: url('../images/forest.jpeg');
  background-position: center;
  background-size: cover;
  height: 95vh;
  text-align: center;
  p.title{
    margin: 0 20vw 70px 20vw;
    line-height: 3rem;
    @media(max-width: 1200px){
      margin: 0 10px 70px 10px;
    }
    @media(max-width: 750px){
      font-size: 2rem;
    }
    @media(max-width: 510px){
      font-size: 1.5rem;
    }
  }
  p{
    margin: 0 30vw;
    @media(max-width: 900px){
      margin: 0 10px;
      line-height: 1.3rem;
    }
  }
}
#menu{
  background-image: url('../images/mountains.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;

  .title{
    margin: 0 20vw 70px 20vw;
    @media(max-width: 750px){
      font-size: 2rem;
    }
  }
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 800px){
      flex-wrap: wrap;
    }
  }
}



#wolf{
  @include animal('../images/wolf.jpeg', 'left');
}

#moose{
  @include animal('../images/moose.jpeg', 'left');
}

#otter{
  @include animal('../images/otter.jpeg', 'right');
}

#beaver{
  @include animal('../images/beaver.jpg', 'left');
}

#raccoon{
  @include animal('../images/raccoon.jpeg', 'left');
}

#lynx{
  @include animal('../images/lynx.jpeg', 'left');
}

#trill{
  @include animal('../images/nodding.jpg', 'left');
}

#bear{
  @include animal('../images/bearberry.jpg', 'left');
}

#maple{
  @include animal('../images/maple.jpeg', 'left');
}

#bog{
  @include animal('../images/bog.jpg', 'right');
}

#cedar{
  @include animal('../images/cedar.jpg', 'left');
}

#pine{
  @include animal('../images/pine.png', 'right');
}

.hidden{
  display: none;
}
