@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  outline: 0;
}


@mixin animal($url, $url-min) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  p.title{
    margin: 0 20vw;
    text-align: center;
  }
  p{
    margin: 0 10vw;
  }
  @media(max-width: 800px){
    flex-direction: column;
    justify-content: center;
    background-position: fixed;

    p.title{
      margin: 0 10px 70px 10px;
    }
    p{
      text-align: center;
    }
  }
}

section{
  height: 90vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subMenu {
  box-sizing: border-box;
	height: 50px;
	z-index: 1000;
	width: 100vw;
	background: black;
  opacity: 0.7;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

a{
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  margin: 10px;
}



@keyframes append {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

p{
  animation-name: append;
  animation-duration: 3s;
  line-height: 1.5rem;
  @media(max-width: 1200px){
    font-size: 0.9rem;
    line-height: 1rem;
    &.title{
      font-size: 2rem;
    }
  }
  &.title{
    font-size: 3rem;
  }
}

#main{
  background-image: url('../images/forest.jpeg');
  background-position: center;
  background-size: cover;
  @media(max-width: 800px){
    background-size: auto;
  }
  p.title{
    margin: 0 20vw 70px 20vw;
    @media(max-width: 1200px){
      margin: 0 10px 70px 10px;
    }
    @media(max-width: 750px){
      font-size: 2rem;
    }
    @media(max-width: 510px){
      font-size: 1.5rem;
    }
  }
  p{
    margin: 0 30vw;
    @media(max-width: 900px){
      margin: 0 10px;
      line-height: 1.3rem;
    }
  }
}

#animals{
  background-image: url('../images/mountains.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media(max-width: 800px){
    background-size: auto;
  }
  .title{
    margin: 0 20vw 70px 20vw;
  }
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 800px){
      flex-wrap: wrap;
    }
  }
}

#wolf{
  @include animal('../images/wolf.jpeg', '../images/wolf-min.jpeg');
}

#moose{
  @include animal('../images/moose.jpeg', '../images/moose-min.jpeg');
}

#otter{
  @include animal('../images/otter.jpeg', '../images/otter-min.jpeg');
}

#beaver{
  @include animal('../images/beaver.jpg', '../images/beaver-min.jpg');
}

#raccoon{
  @include animal('../images/raccoon.jpeg', '../images/raccoon-min.jpeg');
}

#lynx{
  @include animal('../images/lynx.jpeg', '../images/lynx-min.jpeg');
}

div{
  width: 100vw;
}
